# Python
*.py[cod]
*$py.class
*.so
.Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt

# Virtual Environment
venv/
env/
ENV/
.venv
.env/
.env
.env.local
*.env
!.env.example

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Environment Variables
.env
*.env
!.env.example

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Database
*.sql
*.sqlite
*.sqlite3

# Celery
celerybeat-schedule
celerybeat.pid

# Docker
*.log
.dockerignore

# Testing
.coverage
htmlcov/
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover

#helper script
run_local.bat

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg